<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% link assets/styles/bootstrap.min.css %}">
</head>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="assets/images/logo.png" alt="logo" width="50" height="50">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">

            {% for item in site.data.navigation %}
                <li class="nav-item"> 
                    <a href="{{ item.link }}" style="font-size: 30px;" {% if page.url == item.link %} class = "nav-link active" {% else %} class = "nav-link" {% endif %}>
                {{ item.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>