<h1>Recent Projects</h1>

{% for post in site.posts limit:3 %}
    

    <div class="card image-and-paragraph-card">
        <div class="card-body">
            <h2>{{ post.title }}</h2>
            <h3>Date: {{ post.date | date: "%B %d, %Y" }}</h3>
            <br>
            {%- if post.image -%}
                <img src="{{- post.image | relative_url -}}" alt="" class="blog-roll-image image-and-paragraph-img">
            {%- else -%}
                {%- assign postImage = "/assets/images/image-default.jpg" -%}
                <img src="{{- postImage | relative_url -}}" alt="" class="blog-roll-image image-and-paragraph-img">
            {%- endif -%}
            <div class = "image-and-paragraph-text">
                <p>
                    {{ post.content }}
                    <br>
                    {% if post.urls %}
                        <ul>
                        {% for url in post.urls %}
                            <li><a href="{{ url.url }}">{{ url.name }}</a></li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </p>
            </div>
                
        </div>
    </div>
    <div>
        
    </div>
    

    
{% endfor %}
</br> 
</br>
<div class="centered-button">
    <a href="/project.html" class="btn btn-block btn-info">Read More</a>
</div>


