<div class="container">
    <h1>Hobbies</h1>
    <h3>I'm an adventurer at heart, enjoying hiking, swimming, and teaching my loved ones various skills. Occasionally, I take on the challenge of bouldering and find joy in crafting with my hands. My recent photos capture the spirit of my thrilling exploits, showcasing my pursuit of adventure and skill mastery. Join me as I conquer peaks, glide through waters, and create wonders, always seeking new exhilarating experiences! </h3>
    <div class="slideshow-container">
        {% for photo in site.data.photos %}
        <div class="mySlides fade">
            <img src="{{ photo.image }}" style="width:100%">
        </div>
        {% endfor %}
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <!-- Full-width images with number and caption text -->
    
</div>


<!-- Link to the JavaScript file -->
<script src="/assets/js/slide_show.js"></script>

<br>