<section id="cd-timeline" class="cd-container">
    {% for entry in site.data.timeline %}
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"></div>
            <div class="cd-timeline-content">
                <h2>{{ entry.title }}</h2>
                <div class="timeline-content-info">
                    <span class="timeline-content-info-date">
                        <i class="fa fa-calendar-o" aria-hidden="true"></i>
                        {{ entry.date }}
                    </span>
                </div>
                <p>{{ entry.items[0].description }}</p>
                {%- if entry.items[0].skills -%}
                    <h3>Skills:</h3>
                {%- endif -%}
                
                <ul >
                    {% for skill in entry.items[0].skills %}
                        <li>{{ skill }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
</section>