<h1>timeline</h1>
<ul class="timeline">
    {% for period in site.data.timeline %}
    <li class="timeline-item">
        <div class="timeline-content">
            <div class="timeline-date">{{ period.date }}</div>
            {% for item in period.items %}
            <div class="timeline-event {% if item.type == 'job' %}job-event{% else %}normal-event{% endif %}">
                <h3>{{ item.title }}</h3>
                <p>{{ item.description }}</p>
            </div>
            {% endfor %}
        </div>
    </li>
    {% endfor %}
</ul>