<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="assets/styles/bootstrap.min.css">
    <link rel="stylesheet" href="assets/styles/customs.css">


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>

  </style>
  </head>
  <body>
    <div>
        {% include navigation.html %}
    </div>
    <div>
      {% include quote_photo.html %}
    </div>

    <br>

    <div class="container mt-5">
      <div class="row">
          <div >
              <p>{{ content }}</p>
          </div>
      </div>
    </div>
  
    <div>
      {% include slide_show.html %}
    
    <br>
    </div>
    <div>{% include footer.html %}</div>
  </body>
</html>